<div th:replace="compartilhado/header">...</div>
<section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text">Cadastro de Produtos</span>
    </div>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,200;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/records.css">
    <link rel="stylesheet" href="css/modal.css">
    <script src="js/main.js" defer></script>
    <title>Produtos</title>
</head>
<body>
    <main>
        <form class="modal-form">
        <button type="button" class="button blue mobile" id="cadastrarCliente">Cadastrar Produtos</button>
        <div class="form-group">
            <input type="text" class="modal-field" placeholder="">
            <button type="button" class="button cyan">Pesquisar</button>
        </div>
        <table class="records">
            <thead>
            </form>
                <tr>
                  <th>CÓDIGO</th>
                  <th>TIPO</th>
                  <th>NOME</th>
                  <th>AÇÃO</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="produto: ${produtos}">
                    <td th:text="${produto.codigo}"></td>
                    <td th:text="${produto.outros}"></td>
                    <td th:text="${produto.nome}"></td>
                    
                    <td>
                        <button type="button" class="button green">editar</button>
                        <button type="button" class="button red">excluir</button>
                    </td>
                </tr>
                
                
            </tbody>
        </table>
        <div class="modal" id="modal">
            <div class="modal-content">
                <header class="modal-header">
                    <h2>Novo Produto</h2>
                    <span class="modal-close" id="modalClose">&#10006;</span>
                </header>
                <form class="modal-form">
                    <input type="text" class="modal-field" placeholder="Nome do Produto">
                    <input type="email" class="modal-field" placeholder="Código">
                    <input type="text" class="modal-field" placeholder="Descrição">
                    <input type="text" class="modal-field" placeholder="Outros">
                    <input type="text" class="modal-field" placeholder="Preço Custo">
                    <input type="email" class="modal-field" placeholder="Preço Venda">
                    <input type="email" class="modal-field" placeholder="Estoque">
                </form>
                <footer class="modal-footer">
                    <button class="button green">Salvar</button>
                    <button class="button blue">Cancelar</button>
                </footer>
            </div>
        </div>
    </main>
</body>
</html>

</section>
<div th:replace="compartilhado/footer"></div>